body{
   background-color: red;
   font-family: cursive;
   font-size: 30px;
}

.container{
    background-color: blue;
  /*   clear:both;*/
    
    margin:auto;
    margin-top:2%;
    text-align: center; 
    width:320px;
}


