/*Background color and font-size*/
body{
   background:url("/assets/images/background.png");
   background-size: cover;
   font-size: 30px;
}
/*Background color, size, and alignment on container*/
.container{
    background: rgba(221, 221, 230, 0.973);
    border-radius: 50px;
    margin:auto;
    margin-top:2%;
    text-align: center; 
    width:320px;
}


